<h1> Create Product </h1>
<form action="/create" method="post">
  <input type="text" name="productName" />
  <input type="number" name="productPrice" />
  <input type="submit" value="Create" />
</form>