<h2>This is Catalog DETAILS! </h2>
<br />
<h3> Your choice: {{product.name}} </h3>
<h3> This product costs: ${{product.price}}.00 </h3>
<br />
<div><a href="/catalog">Go back to catalog page.</a></div>